* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  border: 2px solid whitesmoke;
  /* min-height: 100vh;
  min-width: 100vw; */
}

.App section {
  display: flex;
}
