.Navbar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  border: 2px solid green;
}

/* .Navbar {
  position: fixed;
  left: 0;
  z-index: 50;
  background-color: purple;
  border: 2px solid green;
} */

.Navbar .logo {
  align-self: center;
  margin-left: 2em;
  border: 2px solid gold;
}

.Navbar .links {
  display: flex;
  flex-direction: row;
  width: auto;
  /* margin: 0 2em 0 2em; */
  text-align: center;
  text-decoration: none;
  border: 2px solid gold;
}

/* .Navbar .links .link {

} */

.Navbar .links .link {
  margin: 0 0.25em 0 0.25em;
  padding: 0.5em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid green;
}

.Navbar .links .link:hover {
  cursor: pointer;
  background-color: gold;
}
