.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid green;
}

.Navbar .logo {
  border: 2px solid gold;
}

.Navbar .links {
  display: flex;
  flex-direction: row;
  border: 2px solid gold;
}
