.Sidebar {
  position: absolute;
  /* display: none; */
  text-decoration: none;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: 0;
  width: 35%;
  height: auto;
  background-color: #2e3137;
  border: 2px solid gold;
}
