.Sidebar {
  /* display: none; */
  text-decoration: none;
  align-items: center;
  justify-content: center;
  width: 35%;
  background-color: #2e3137;
  border: 2px solid gold;
}

.Sidebar .open-chats {
  border: 2px solid white;
}

.Sidebar .settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5em;
  border: 2px solid crimson;
}

.Sidebar .settings .bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid blue;
}
.Sidebar .settings .bottom-right {
  border: 2px solid blue;
}
