.Sidebar {
  width: 35%;
  height: 100vh;
  border: 2px solid crimson;
}

.Sidebar .open-chats {
  border: 2px solid white;
}

.Sidebar .settings {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid crimson;
}

.Sidebar .settings .bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid blue;
}
.Sidebar .settings .bottom-left .option {
  border: 2px solid gold;
}

.Sidebar .settings .bottom-right {
  border: 2px solid blue;
}
.Sidebar .settings .bottom-right .hamburger {
  border: 2px solid gold;
}
